{# app/templates/partials/_login_modal.html #}
<div class="modal fade" id="loginModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered animate__animated animate__zoomIn">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вход в аккаунт</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="loginForm" action="/auth/login" method="post">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="email" required>
                        <label>Электронная почта</label>
                        <i class="fas fa-envelope icon"></i>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" required>
                        <label>Пароль</label>
                        <i class="fas fa-lock icon"></i>
                    </div>
                    <button type="submit" class="btn btn-gradient w-100">Войти</button>
                    <div id="loginMessage"></div>
                </form>
            </div>
        </div>
    </div>
</div>