{# app/templates/index.html #}
{% extends "base.html" %}

{% block content %}
<section class="hero position-relative">
    <div class="overlay"></div>
    <div class="container position-relative z-index-1 text-center text-white">
        <!-- Заголовок: всплытие сверху -->
        <h1 class="display-3 fw-bold mb-4 animate__animated animate__fadeInDown" style="animation-delay: 0.2s;">
            Добро пожаловать в HotelBooking
        </h1>
        
        <!-- Подзаголовок: всплытие снизу -->
        <p class="lead mb-5 animate__animated animate__fadeInUp" style="animation-delay: 0.5s;">
            Бронируйте лучшие отели по всему миру. Просто, стильно, надёжно.
        </p>

        <!-- Форма: увеличение + поэлементное всплытие -->
<!-- Форма: увеличение + поэлементное всплытие -->
<form class="search-form d-flex flex-column flex-md-row justify-content-center gap-3 mb-5 animate__animated animate__zoomIn" style="animation-delay: 0.8s;" 
      action="/hotels" method="get">
    
    <!-- Поле "Куда едете?" -->
    <div class="input-wrapper">
        <label for="city">Город</label>
        <input type="text" class="form-control form-control-lg animate__animated animate__fadeInUp" style="animation-delay: 1s;" name="city" id="city" placeholder="Куда едете?" required>
    </div>
    
    <!-- Заезд -->
    <div class="input-wrapper">
        <label for="check_in_date">Заезд</label>
        <input type="date" class="form-control form-control-lg animate__animated animate__fadeInUp" style="animation-delay: 1.1s;" name="check_in_date" id="check_in_date" required>
    </div>
    
    <!-- Выезд -->
    <div class="input-wrapper">
        <label for="check_out_date">Выезд</label>
        <input type="date" class="form-control form-control-lg animate__animated animate__fadeInUp" style="animation-delay: 1.2s;" name="check_out_date" id="check_out_date" required>
    </div>
    
    <!-- Кнопка -->
    <div class="input-wrapper btn-wrapper">
        <label for="check_in_date" class="btnl">Заезд</label>
        <button type="submit" class="btn btn-primary btn-lg px-5 w-100 animate__animated" style="animation-delay: 1.4s;">
            Найти
        </button>
    </div>
</form>
    </div>
</section>
{% endblock %}